## Exercício 1

a) Receba do usuário os salários de 5 funcionários de uma empresa e guarde-os numa lista.

b) acrescente mais um salário no começo da lista, outro no final, e outro na posição 3.

c) Pesquise pelo salário '1500'. Se esse salário existir na lista, mostre o índice dele. Se não, exiba uma mensagem de erro.

d) ordene os salários do maior para o menor e exiba-os.

e) calcule e mostre a média dos salários. DICA: utilize as funções *sum(lista)* e *len(lista)*

In [ ]:
# Letra 'a'
salarios = []
for i in range(5):
  salarios.append(float(input("Digite o salário: ")))
print(salarios)

Digite o salário: 1500
Digite o salário: 2500
Digite o salário: 3500
Digite o salário: 4500
Digite o salário: 5500
[1500.0, 2500.0, 3500.0, 4500.0, 5500.0]

In [ ]:
len(salarios)

6

In [ ]:
# Letra 'b'
salarios.insert(0, float(input("Digite o salário: "))) # insere na primeira posição
print(salarios)

[6500.0, 1500.0, 2500.0, 3500.0, 4500.0, 5500.0]

In [ ]:
# Letra 'b'
salarios.append(float(input("Digite o salário: "))) # insere na última posição
print(salarios)

Digite o salário: 7500
[6500.0, 1500.0, 2500.0, 3500.0, 4500.0, 5500.0, 7500.0]

In [ ]:
# Letra 'b'
salarios.insert(3, float(input("Digite o salário: "))) # insere na posição 3 (index 3)
print(salarios)

Digite o salário: 8500
[6500.0, 1500.0, 2500.0, 8500.0, 3500.0, 4500.0, 5500.0, 7500.0]

In [ ]:
# Letra 'c'
if 1500 in salarios:
   print(salarios.index(1500.0))
else:
  print('Valor não encontrado na lista')

1

In [ ]:
# Letra 'd'
salarios.sort(reverse=True)
salarios

[8500.0, 7500.0, 6500.0, 5500.0, 4500.0, 3500.0, 2500.0, 1500.0]

In [ ]:
# Letra 'e'
sum(salarios) / len(salarios)

5000.0