### Operações com listas

In [ ]:
nomes_femininos = ['Ana', 'Bianca', 'Cássia', 'Daiane', 'Elen', 'Fernanda']
nomes_masculinos = ['André', 'Bruno', 'Carlos', 'Diogo', 'Eduardo', 'Fábio']
# salarios = [5000, 8000, 3000, 2000, 9500, 4500]

Concatenação (concat): unir duas listas em uma

In [ ]:
nomes = nomes_femininos + nomes_masculinos
print(nomes)

['Ana', 'Bianca', 'Cássia', 'Daiane', 'Elen', 'Fernanda', 'André', 'Bruno', 'Carlos', 'Diogo', 'Eduardo', 'Fábio']

Fatiamento (slice/slicing): "cortar" a lista em "pedaços" menores

In [ ]:
grupo_1 = nomes[:3]
grupo_2 = nomes[3:6]
grupo_3 = nomes[6:9]
grupo_4 = nomes[9:]

In [ ]:
grupo_1

['Ana', 'Bianca', 'Cássia']

In [ ]:
grupo_2

['Daiane', 'Elen', 'Fernanda']

In [ ]:
grupo_3

['André', 'Bruno', 'Carlos']

In [ ]:
grupo_4

['Diogo', 'Eduardo', 'Fábio']

### Métodos para manipulação de listas

Append: acrescentar ao final da lista

In [ ]:
nomes

['Ana',
 'Bianca',
 'Cássia',
 'Daiane',
 'Elen',
 'Fernanda',
 'André',
 'Bruno',
 'Carlos',
 'Diogo',
 'Eduardo',
 'Fábio']

In [ ]:
nomes.append('Gregório')
nomes

['Ana',
 'Bianca',
 'Cássia',
 'Daiane',
 'Elen',
 'Fernanda',
 'André',
 'Bruno',
 'Carlos',
 'Diogo',
 'Eduardo',
 'Fábio',
 'Gregório']

Modificar o valor de um elemento

In [ ]:
nomes[12] = 'Geraldo'
nomes

['Ana',
 'Bianca',
 'Cássia',
 'Daiane',
 'Elen',
 'Fernanda',
 'André',
 'Bruno',
 'Carlos',
 'Diogo',
 'Eduardo',
 'Fábio',
 'Geraldo']

## Tupla

É a mesma coisa que a lista. A diferença é que os elementos de uma tupla não podem ser modificados.

In [ ]:
lista = ["cachorro", "gato", "papagaio"]
tupla = ("cachorro", "gato", "papagaio")

In [ ]:
print(lista)
print(tupla)

['cachorro', 'gato', 'papagaio']
('cachorro', 'gato', 'papagaio')

In [ ]:
# Troca 'papagaio' por 'jabuti' na lista
lista[2] = "jabuti"
lista

['cachorro', 'gato', 'jabuti']

In [ ]:
# Verifica quem está na posição 2 da tupla
tupla[2]

'papagaio'

In [ ]:
# Tente trocar 'papagaio' por 'jabuti' na tupla e você obterá um erro
tupla[2] = "jabuti"
tupla

TypeError: 'tuple' object does not support item assignment