### Exercício 1

Mostre todos os números pares existentes entre 0 e 100.

In [ ]:
for i in range(2, 101, 2):
  print(i)

In [ ]:
for i in range(101):
  if i % 2 == 0:
    print(i)

### Exercício 2

Mostre todos os números divisíveis por 7 entre 0 e 100

In [7]:
for i in range(7, 101, 7):
  print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [6]:
for i in range(0, 101):
  if i % 7 == 0 and i != 0:
    print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

### Exercício 3

Conte de 0 a 1000 saltando de 500 em 500.

In [9]:
for i in range(0, 1001, 500):
  print(i)

0
500
1000

### Exercício 4

Mostre os números divisíveis por 10 existentes entre 0 e 100 em ordem decrescente.

In [12]:
for i in range(100, 0, -10):
  print(i)

100
90
80
70
60
50
40
30
20
10

### Exercício 5

Mostre a soma de todos os números pares entre 0 e 100.

In [16]:
soma = 0
for num in range(0, 101, 2):
  soma = soma + num
  print("Número: ", num, " Soma: ", soma)

Número:  0  Soma:  0
Número:  2  Soma:  2
Número:  4  Soma:  6
Número:  6  Soma:  12
Número:  8  Soma:  20
Número:  10  Soma:  30
Número:  12  Soma:  42
Número:  14  Soma:  56
Número:  16  Soma:  72
Número:  18  Soma:  90
Número:  20  Soma:  110
Número:  22  Soma:  132
Número:  24  Soma:  156
Número:  26  Soma:  182
Número:  28  Soma:  210
Número:  30  Soma:  240
Número:  32  Soma:  272
Número:  34  Soma:  306
Número:  36  Soma:  342
Número:  38  Soma:  380
Número:  40  Soma:  420
Número:  42  Soma:  462
Número:  44  Soma:  506
Número:  46  Soma:  552
Número:  48  Soma:  600
Número:  50  Soma:  650
Número:  52  Soma:  702
Número:  54  Soma:  756
Número:  56  Soma:  812
Número:  58  Soma:  870
Número:  60  Soma:  930
Número:  62  Soma:  992
Número:  64  Soma:  1056
Número:  66  Soma:  1122
Número:  68  Soma:  1190
Número:  70  Soma:  1260
Número:  72  Soma:  1332
Número:  74  Soma:  1406
Número:  76  Soma:  1482
Número:  78  Soma:  1560
Número:  80  Soma:  1640
Número:  82  Soma:  1722
Número:  84  Soma:  1806
Número:  86  Soma:  1892
Número:  88  Soma:  1980
Número:  90  Soma:  2070
Número:  92  Soma:  2162
Número:  94  Soma:  2256
Número:  96  Soma:  2352
Número:  98  Soma:  2450
Número:  100  Soma:  2550