In [1]:
# Variáveis
nome = "Danielle"         #str - string - alfanumérico
tem_curso_superior = True #bool - boolean - booleana (V/F)
media_final = float(9.5)  #float - float - numérico real (ponto flutuante)
ano_formatura = int(2019) #int - integer - numérico inteiro

In [2]:
aluno1 = "João"
aluno2 = "Maria"
aluno3 = "José"
# inviável

In [22]:
# Listas
nomes = ["Danielle", "João", "Maria", "José"]
tem_curso_superior = [True, False, False, True]
medias_finais = [9.5, 5.4, 3.2, 7.9]
ano_formatura = [2019, 2026, 2025, 2021]

In [13]:
# Percorrendo uma lista
for nome in nomes:
  print(nomes.index(nome))
  print(nome)

# Indexação em Python começa em 0

0
Danielle
1
João
2
Maria
3
José

In [15]:
len(nomes)

4

In [19]:
# Ver um elemento específico da lista
print(nomes[0])
print(nomes[2])
print(nomes[-1])
print(nomes[-2])

Danielle
Maria
José
Maria

In [20]:
# Criando uma lista
alunos = []
for i in range(5):
  aluno = input("Digite o nome do aluno: ")
  alunos.append(aluno)
# Imprimindo a lista completa
print(alunos)

Digite o nome do aluno: André
Digite o nome do aluno: Beatriz
Digite o nome do aluno: Carlos
Digite o nome do aluno: Daiane
Digite o nome do aluno: Epaminondas
['André', 'Beatriz', 'Carlos', 'Daiane', 'Epaminondas']

In [21]:
# Percorrendo a lista
for aluno in alunos:
  print(aluno)

André
Beatriz
Carlos
Daiane
Epaminondas

In [23]:
# nomes = ["Danielle", "João", "Maria", "José"]
# medias_finais = [9.5, 5.4, 3.2, 7.9]

# Percorrer as listas mostrando o nome e a média final dos alunos
for i in range(4):
  print("\n\n Índice: ", i)
  print("\nNome do aluno: ", nomes[i])
  print("\nNota do aluno: ", medias_finais[i])

 Índice:  0

Nome do aluno:  Danielle

Nota do aluno:  9.5


 Índice:  1

Nome do aluno:  João

Nota do aluno:  5.4


 Índice:  2

Nome do aluno:  Maria

Nota do aluno:  3.2


 Índice:  3

Nome do aluno:  José

Nota do aluno:  7.9

In [24]:
# Alterar informações numa lista
for i in range(4):
  medias_finais[i] = medias_finais[i] + 1.0
print(medias_finais)

[10.5, 6.4, 4.2, 8.9]

In [25]:
nomes[0] = "Joaquina"
print(nomes)

['Joaquina', 'João', 'Maria', 'José']